* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);
}

.banner {
    padding-top: 2.5rem;
    width: 100%;
    min-height: 40rem;
    background-image: url(../images/bg-pattern-intro.svg);
    z-index: 1;
    background-position: 22%;
    background-repeat: space;
    background-size: auto;
}

header {
    min-height: 40rem;
    background: linear-gradient(var(--very-light-red), var(--light-red));
    font-family: var(--ubuntu-font-family);
    font-weight: 500;
    border-bottom-left-radius: 5rem;
    position: relative;
}

.nav__items {
    color: white;
    font-size: 18px;
    align-items: center;
    align-items: center;
}

.nav__items a {
    margin: 0 40px;
}

.nav__register a {
    margin: 0 40px;
    color: white;
    font-size: 18px;
}

.nav__register .btn__sign-up {
    background-color: white;
    border-radius: 20px;
    padding: 11px 45px;
    color: hsl(353, 100%, 62%);
}

.banner__title {
    color: white;
    text-align: center;
    padding-top: 150px;
}

.btn__free {
    border-radius: 25px;
    padding: 15px 30px;
    color: hsl(353, 100%, 62%);
    background-color: white;
    border-style: none;
    font-weight: 700;
    margin: 0 20px;
    font-size: 18px;
}

.btn__learn {
    border-radius: 25px;
    padding: 15px 30px;
    color: white;    
    background-color: hsl(353deg 100% 62% / 40%);
    border-style: none;
    font-weight: 700;
    border: 2px solid white;
    font-size: 18px;
}

h1 {
    font-size: 55px;
}

.text__grow {
    font-size: 20px;
    font-weight: 400;
}

.design__future {
    height: auto;
    background-color: #FFFFFF;
    background-color: #efeff059;
    display: flex;
    align-items: center;
    padding: 120px 0;
    /* margin: 120px 0; */
    /* background-image: url(../images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: right; */
}

.design__future h3  {
    color: hsl(207, 13%, 34%);
}

.design__future p  {
    color: hsl(207, 13%, 34%);
    margin-top: 15px;
}

.content {
    margin: 60px 0;
}

.design__future-title {
    color: hsl(207, 13%, 34%);
    /* margin: 100px 0; */
}

.img-editor {
    /* transform: translateX(51%); */
    width: 600px;
    right: 0;
}

.state {
    background: linear-gradient(var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
    height: 440px;
    border-radius: 0 80px 0 80px;
}

.state__bg {
    margin-top: -51px;
}

.state__img {
    background-image: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    background-position: -11rem -35rem;
}

.state h2 {
    color: white;
}

.state p {
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

